<p><%= t("onboarding_mailer.step_completed_notification.greeting") %></p>

<p>
  <strong><%= t("onboarding_mailer.step_completed_notification.step_label") %>:</strong> <%= @step.title %><br>
  <strong><%= t("onboarding_mailer.step_completed_notification.company_label") %>:</strong> <%= @company.name %>
</p>

<p><%= t("onboarding_mailer.step_completed_notification.footer") %></p>
